PASSKIT_ENVIRONMENT=pub1
# PASSKIT_ADDRESS=https://grpc.pub1.passkit.io
PASSKIT_CERTIFICATE=certs/certificate.pem
PASSKIT_PRIVATE_KEY=certs/key.pem
PASSKIT_ROOT_CERT=certs/ca-chain.pem
PASSKIT_PASSPHRASE=
PASSKIT_POOL_SIZE=5
PASSKIT_RECIPIENT_EMAIL=
PASSKIT_APPLE_CERTIFICATE=
PASSKIT_KEEP_ASSETS=false
